USE [master]
GO
/****** Object:  Database [DBPhotoExpress]    Script Date: 18/03/2024 12:55:03 a. m. ******/
CREATE DATABASE [DBPhotoExpress]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PhotoExpress', FILENAME = N'C:\Users\Asus\Desktop\Prueba CTRL\Data\MSSQL16.SQLEXPRESS\MSSQL\DATA\PhotoExpress.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PhotoExpress_log', FILENAME = N'C:\Users\Asus\Desktop\Prueba CTRL\Data\MSSQL16.SQLEXPRESS\MSSQL\DATA\PhotoExpress_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBPhotoExpress].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBPhotoExpress]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 18/03/2024 12:55:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[EventoId] [uniqueidentifier] NOT NULL,
	[NombreInstitucion] [varchar](50) NOT NULL,
	[DireccionInstitucion] [varchar](50) NOT NULL,
	[NumeroAlumnos] [int] NOT NULL,
	[FechaInicio] [datetime] NOT NULL,
	[CostoServicio] [float] NOT NULL,
	[TogaBirrete] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[NumeroReferencia] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Evento] PRIMARY KEY CLUSTERED 
(
	[EventoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModificacionEvento]    Script Date: 18/03/2024 12:55:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModificacionEvento](
	[ModificacionId] [uniqueidentifier] NOT NULL,
	[FechaModificacion] [datetime] NOT NULL,
	[DetalleAnterior] [text] NULL,
	[DetalleActual] [text] NULL,
	[EventoId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ModificacionEvento] PRIMARY KEY CLUSTERED 
(
	[ModificacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ModificacionEvento]  WITH CHECK ADD  CONSTRAINT [FK_ModificacionEvento_Evento] FOREIGN KEY([EventoId])
REFERENCES [dbo].[Evento] ([EventoId])
GO
ALTER TABLE [dbo].[ModificacionEvento] CHECK CONSTRAINT [FK_ModificacionEvento_Evento]
GO
USE [master]
GO
